# Servidor
PORT=3000
NODE_ENV=development

# URL del Frontend (para CORS y links en emails)
FRONTEND_URL=http://localhost:5500

# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/marabeauty"

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_muy_seguro
JWT_EXPIRES_IN=8h

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password_de_gmail
